# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Environments related
.env

# Compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out

# Node
/frontend/node_modules
/api/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.vscode/

# Miscellaneous
/frontend/.angular/cache
/frontend/.sass-cache/
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
testem.log
/frontend/typings

# System files
.DS_Store
Thumbs.db
