<table *ngIf="cryptoList.length > 0">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Date</th>
            <th>Open</th>
            <th>Close</th>
            <th>High</th>
            <th>Low</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of cryptoList">
            <td>
                <img [src]="entry.iconUrl" alt="{{ entry.code }}" width="20" height="20" />
                {{ entry.code }}
            </td>
            <td>{{ entry.date }}</td>
            <td>{{ entry.open }}</td>
            <td>{{ entry.close }}</td>
            <td>{{ entry.high }}</td>
            <td>{{ entry.low }}</td>
            <td>{{ entry.volume }}</td>
        </tr>
    </tbody>
</table>